/************* About page   *****************************/
.container_about {
    height: 61rem;
    width: 100%;
    top: 42rem;
    background-color: white;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
   
  }
  .list_icons {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 1rem;
    font-size: 20px;
    list-style-type: none;
    left: -1rem;
  }
  .list_icons li {
    position: relative;
    height: 0.9rem;
    width: 1rem;
    border-radius: 60%;
  
    margin: 5px;
  }
  
  .about_hd {
    position: absolute;
    top: 1rem;
    left: 10rem;
    color: grey;
    font-size: 22px;
  }
  .about_desc {
    position: absolute;
    top: 33rem;
    left: 0rem;
    height: 27rem;
    width: 24rem;
    font-size: 16px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
  
  .hd_hi {
    position: absolute;
    top: 3rem;
    left: 2rem;
  }
  
  .myabout_desc {
    height: 20rem;
    width: 21rem;
    top: 6rem;
    left: 2rem;
    font-size: 19px;
    position: absolute;
    font-family: 'Kanit', sans-serif;
  }
  .pic_holder {
    height: 27rem;
    
    top: 4rem;
    left: 0.5rem;
    width: 24rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.23) 0 5px 5px 5px;
  }
  .mypic {
    object-fit: cover;
    height: 80%;
    width: 90%;
    position: absolute;
   
  }
  
  @media (min-width: 600px) {
    .container_about {
      position: absolute;
      height: 50rem;
      width: 100%;
      top: 42rem;
      border: none;
      background-color: rgb(39, 38, 38);
      background-image: linear-gradient(
        to right,
        rgba(206, 200, 200, 0),
        rgb(109, 91, 91)
      );
    }
    .about_hd {
      position: absolute;
      top: 1rem;
      left: 5rem;
      color: grey;
      font-size: 35px;
    }
    .about_desc {
      position: absolute;
      top: 10rem;
      left: 3rem;
      height: 30rem;
      width: 40rem;
      font-size: 16px;
     
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
    }
  
    .hd_hi {
      position: absolute;
      top: 3rem;
      left: 2rem;
      font-size: 1.7rem;
    }
  
    .myabout_desc {
      height: 20rem;
      width: 37rem;
      top: 5rem;
      left: 2rem;
      font-size: 1.9rem;
      position: absolute;
      font-family: 'Kanit', sans-serif;
    }
  
    .pic_holder {
      height: 30rem;
      
      top: 10rem;
      left: 45rem;
      width: 25rem;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: aqua;
    }
    .mypic {
      
      height: 100%;
      width: 100%;
      position: absolute;
     
    }
  }
  