/**********Navbar Section**********/

.bars {
  position: absolute;
  top: 1rem;
  font-size: 1.5rem;
  left: 20rem;
  cursor: pointer;
  display: flex;
  color: black;
  background-color: GREY;

  border: none;
}

.bars:hover {
  background-color: #ddd;
}
.nav-ul {
  position: absolute;
  background-color: aqua;
  top: 3rem;
  width: 10rem;
  flex-direction: column;
  left: 30rem;
  display: none;
  color: black;

  border: 10px;
}
.nav-li {
  display: flex;
  color: white;

  cursor: pointer;
  margin: 20px;
  opacity: 1;
}
.nav-li:hover {
  position: relative;
  background-color: rgb(54, 59, 59);
  border-radius: 6px;
  padding: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  transform: translateY(0);
  transition: transform 0.5s ease;
  transition: 0.9s ease-in-out;
}
.nav-links-mobile {
  position: fixed;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  left: -15rem;
  top: 0rem;
  transition: all 0.9s ease-in-out;
  width: 100%;
  height: 19rem;
  background-color: rgb(0, 0, 0, 0.5);
  transform: translateY(1);
  transition: transform 0.5s ease;
}

@media (min-width: 1024px) {
  .bars {
    display: none;
  }
  .nav-ul {
    position: fixed;
    display: flex;
    background-color: #222;
    top: 0rem;
    flex-direction: row;
    left: 0rem;
    color: white;
    width: 100%;
    opacity: 0.8;
  }

  .nav-li {
    position: relative;
    left: 35rem;
    display: flex;
    flex-direction: row;
    padding: 5px;
    opacity: 0.5;
    color: white;
    cursor: pointer;
  }
  .nav-li:hover {
    position: relative;
    background-color: rgb(54, 59, 59);
    border-radius: 6px;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: 0.9s ease-in-out;
  }
}

/*** Home Section **/

* {
  margin: 0;
}
.container_home {
  height: 60rem;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(206, 200, 200, 0),
    rgb(109, 91, 91)
  );
  position: absolute;
  box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
  border-radius: 0% 0% 10px 1000px;
}
.github {
  position: fixed;

  left: 3.1rem;
  top: 3rem;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: black;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}
.git_icon {
  position: fixed;
  font-size: 1.7rem;
  top: 1rem;
  left: 1rem;
  color: white;
  border: none;
}
.github:hover {
  background-color: grey;
  cursor: pointer;
}
.name {
  position: absolute;
  top: 25rem;
  left: 8rem;
  font-size: 45px;
}
.fawindows {
  position: absolute;
  font-size: 200px;
  top: 5rem;
  left: 12rem;
}

.resume {
  position: absolute;
  top: 40rem;
  left: 3rem;
  padding: 5px;
  border-radius: 2px;
  font-size: 16px;
  border: none;
  width: 6rem;
  background-color: rgb(17, 16, 16);
  color: white;
}
.hireme {
  position: absolute;
  top: 40rem;
  left: 11rem;
  padding: 5px;
  border-radius: 2px;
  font-size: 16px;
  border: none;
  width: 6rem;
  background-color: rgb(17, 16, 16);
  color: white;
}
.pic_home {
  object-fit: cover;
  top: 10rem;
  left: 2.5rem;
  height: 30%;
  width: 70%;
  position: absolute;
  border-radius: 100%;
}
.media_icons_home {
  position: absolute;
  display: flex;
  flex-direction: row;
  list-style-type: none;

  top: 10rem;
  width: 11rem;
}
.media_icons_home li {
  position: relative;
  margin: 15px;
  font-size: 25px;
}

@media (min-width: 1024px) {
  .container_home {
    border-radius: 10px 100px;
    width: 100%;
    background-color: #e9d5a1;
    position: absolute;
    border-radius: 0% 0% 10px 1000px;
    box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
    background-image: linear-gradient(
      to right,
      rgba(206, 200, 200, 0),
      rgb(109, 91, 91)
    );
  }
  .github {
    position: fixed;

    left: 3.1rem;
    top: 7rem;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: black;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  }
  .git_icon {
    position: fixed;
    font-size: 1.7rem;
    top: 1rem;
    left: 1rem;
    color: white;
    border: none;
  }
  .github:hover {
    background-color: grey;
    cursor: pointer;
  }

  .name {
    position: absolute;
    top: 27rem;
    left: 15rem;
    font-size: 60px;
  }
  .home_about {
    position: absolute;

    top: 25rem;
    left: 30rem;
    height: 8rem;
    width: 12rem;
  }
  .home_about p {
    font-size: 25px;
  }
  .media_icons_home {
    position: absolute;
    display: flex;
    flex-direction: row;
    list-style-type: none;

    top: -25rem;
  }

  .media_icons_home li {
    position: relative;
    margin: 15px;
    font-size: 20px;
  }
  .resume {
    position: absolute;
    top: 22rem;
    left: 17rem;
  }
  .resume:hover {
    padding: 20px;
    transition: 0.9s ease-in-out;
  }
  .hireme {
    position: absolute;
    top: 22rem;
    left: 25rem;
  }
  .hireme:hover {
    padding: 20px;
    transition: 0.9s ease-in-out;
  }
  .pic_home {
    top: 5rem;
    left: 40rem;
    height: 50%;
    width: 30%;
    position: absolute;
    border-radius: 10px;
  }
}
