
*{
  margin:0;
 
  font-family: 'Kumbh Sans', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Sen', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}


